<p style="font-size:18px;">Hi <%= @fullname %>,</p>
<p style="font-size:18px;">
  You just invested <%= number_to_currency(@total / 100) %> to install solar panels on the roof of Safe Place for Youth's homeless center in Venice.</p>

<p style="font-size:18px;">
  What does that mean?</p>
<p style="font-size:18px;">
  <b>YOU ARE AWESOME! Your&nbsp;</b><b style="font-size: 18px;"><%= number_to_currency(@gift / 100 ) %></b><b>&nbsp;is going to be pooled with funds from more than 400 other investors to to make possible the installation later this year<%= @tip > 0 ? " and help Climate Cents continue to support this project and others." : "." %></b></p>

<p style="font-size:18px;">GRID Alternatives, a nonprofit specializing in rooftop solar for disadvantaged communities will install 6 panels that will provide enough electricity to cut Safe Place for Youth's energy costs to almost nothing, while powering a 3D printing lab, where homeless teenagers will learn cutting-edge technology and skills from leading professionals.</p>

<p style="font-size: 18px; text-align: center;">
  <img align="center" alt="" src="https://s3.amazonaws.com/climatecents3/email_images/grid.jpg" style="border-width: 0px; border-style: solid; margin: 5px;" /></p>

<p style="font-size:18px;"><b>Over the next decade, the rooftop solar system will help the center avoid drawing on thousands of kilowatt hours of electricity from the local utility, LADWP, which gets much of its power from dirty coal-fired power plants. That means the project will prevent the release of more than 132 tons of carbon dioxide (CO2) over the next decade. You personally made possible <%= @co2 %> pounds of that total.</b></p>

<p style="font-size:18px;">Why does that matter?</p>

<p style="font-size:18px;">Because human-generated greenhouse gases like CO2 are the cause of global warming.</p>

<p style="font-size:18px;">Because the less money Safe Place for Youth has to spend on electricity, the more money it has to spend on vital services to help homeless teenagers get back on their feet and begin rewarding careers.</p>

<p style="font-size:18px;">Because GRID Alternatives prioritizes job training and employment for people from the region's disadvantaged communities, helping to build a green-tech economy where opportunity is more than a slogan.</p>


<p style="font-size:18px;"><b>So YOUR support is turning the tide against CO2 and lifting up the most disadvantaged communities in Los Angeles.</b></p>

<p style="font-size:18px;">
  Feels good, doesn&#39;t it?</p>

<p style="font-size:18px;"><b>Share the story of your involvement on <a href="http://facebook.com/climatecents/">Facebook</a> or <a href="http://twitter.com/home?status=I+fight+%23climatechange+by+backing+%40ClimateCents+enviro+projects+in+%23LosAngeles+Join+our+local+movmnt+to+%23ActOnClimate+climatecents.org">Twitter</a>. You'll motivate your friends to take action and you'll look good doing it.</b></p>

<p style="font-size:18px;">Want to multiply your impact? Sign up to donate monthly<a href="https://act.myngp.com/Forms/-6844117941533603072">here</a>.</p>

<p style="font-size:18px;">
  Thank you for your support,</p>
<p style="font-size:18px;">
  Nick, David, and the whole Climate Cents team</p>
<p>
  &nbsp;</p>
<p>
  ---</p>
<div>
  &nbsp;</div>
<div>
<p>
  <i>Climate Cents is a 501(c)(3) nonprofit, IRS ID 46-1275511. Charitable donations are tax-deductible to the fullest extent allowable under the law. No goods or services were provided in consideration of your gift of <%= number_to_currency(@total / 100) %> on <%= @timestamp %>.</i>
</p>
