<div class="row">
  <div class="col-xs-12">
    <h1>Admin portal</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h2>Sections</h2>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Locations', locations_path, class: 'btn btn-default' %>
    <%= link_to 'Parters', partners_path, class: 'btn btn-default' %>
    <%= link_to 'Projects', projects_path, class: 'btn btn-default' %>
    <%= link_to 'Campaigns', campaigns_path, class: 'btn btn-default' %>
    <%= link_to 'Donations', donations_path, class: 'btn btn-default' %>
<!--  make link Users -->
  </div>
</div>

<!-- Reports -->

<!-- Dashboard -->
<!-- Users over time -->
<!-- $$$ -->
<!-- Most popular projects/campaigns -->
<!-- Upcoming campaigns ending -->
