<div class="main">
  <section id="hero-section">
    <header>
      <nav>
        <ul>
          <li class="nav-top" id="nav-logo"><%= link_to root_path do %>
            <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/logo_climatecents_med_white.png"
            alt="Climate Cents logo"/><% end %>
          </li>
          <span>
            <li class="nav-top "><%= link_to "How It Works", "/#chip-in-section" %></li>
            <li class="nav-top "><%= link_to "Browse Projects", "/#home-projects-section" %></li>
            <li class="nav-top "><%= link_to "About Us", "/#keep-in-touch" %></li>
            <li class="nav-top "><%= link_to "Get Involved", "/#join-the-fight-cta" %></li>
          </span>
        </ul>
      </nav>
      <div id='hero-header'>
        <h1>Everyone Can Make Change.</h1>
        <h2>Fight climate change and see the effects right in your community.</h2>
        <div id='hero-header-btn'>
          <%= link_to '/#home-projects-section' do %>
            <button id="btn-hero-back-a-project"><span id="btn-hero-back-a-project-text">Back a Project</span></button>
          <% end %>
        </div>
        <div id="scroll-down-arrow">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/Button_DropDownCarrot_White.png" alt="scroll down arrow carat carrot"/>
        </div>
      </div>

    </header>
  </section>

  <section id="chip-in-section">
    <div id="chip-in-section-header">
      <hgroup>
        <h2>When we all chip in, great things happen.</h2>
        <h3>We're building a community of support around the local projects we believe in.</h3>
        <h3>Here's how:</h3>
      </hgroup>
    </div>
    <div id="chip-in-section-articles">
      <article>
        <div class="chip-in-section-icon">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_01_identify.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h2>We Identify</h2>
        <p>Our team vets and partners with local projects that reduce carbon in the atmosphere while having positive impact in our communities.</p>
      </article>

      <article>
        <div class="chip-in-section-icon">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_02_connect.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h2>We Connect</h2>
        <p>We sign up thousands of people like you to support our vetted initiatves and as a group, help these projects in the fight against climate change.</p>
      </article>

      <article>
        <div class="chip-in-section-icon">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_03_report.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h2>We Report</h2>
        <p>We then measure, track, and report the progress of every project, so you can see the impact of every dollar you donate and follow.</p>
      </article>
    </div>
  </section>

  <section id="home-projects-section">
    <div id="home-projects-section-header">
      <hgroup>
        <h2>Our LA Kick-off Projects</h2>
        <h3>We're getting off the ground right here in Los Angeles with more projects on the way.</h3>
        <h3>Find one that matters to you.</h3>
      </hgroup>
    </div>

    <div id="home-projects-section-articles">
      <% if @locations.present? %>
        <% @locations.each do |location| %>
          <% if get_location_partners(location).present? %>
            <% get_location_partners(location).each do |partner| %>
              <% if get_partner_projects(partner).present? %>
                <% get_partner_projects(partner).each do |project| %>
                  <% if get_project_campaigns(project).present? %>
                    <% get_project_campaigns(project).each do |campaign| %>
      <article>
        <%= link_to project_path(project) do %>
        <div class="home-projects-section-image">
          <img src="<%= return_350x200_image_url(partner.id) %>" alt="We identify local projects such as <%= partner.name %>'s <%= project.name %> that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <!-- images must be entered into Image model with '350x200' in their name (and their image canvas dimensions, obvi) -->
        <h5><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon-green-location-map.png" alt="Climate Cents Project Partner location"/><%= campaign.city %>, <%= campaign.state %></h5>
        <h3><%= partner.blurb %></h3>
        <h6><%= partner.name %></h6>
        <p><%= project.blurb %></p>

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percent_funded(campaign)%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1px; width: <%= percent_funded(campaign)%>%;">
          </div>
        </div>
        <div class="progress-label">
          <ul>
            <li class="leftmost"><span class="progress-data-point"><%= percent_funded(campaign) %>%</span></li>
            <li><span class="progress-data-point"><%= number_of_campaign_backers(campaign) %></span></li>
            <li class="rightmost"><span class="progress-data-point"><%= days_remaining(campaign) %> Days</span></li>
          </ul>
          <ul>
            <li class="leftmost">Funded</li>
            <% if number_of_campaign_backers(campaign) == 1 %>
              <li>Backer</li>
            <% else %>
              <li>Backers</li>
            <% end %>
            <li class="rightmost">Remaining</li>
          </ul>
        </div>
        <% end %>
      </article>

                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
      <article>
        <h3>Projects coming soon!</h3>
      </article>
      <% end %>
    </div>
  </section>

  <section id="join-the-fight">
    <div id="join-the-fight-header">
      <hgroup>
        <h2>Lots of ways to join the fight.</h2>
      </hgroup>
    </div>

    <div id="join-the-fight-cta">
      <article>
        <h5>Have a great idea for making a difference in your community?</h5>
        <a data-toggle="modal" data-target="#idea-submission-modal" href data-original-title title>Propose a project</a>
      </article>

      <article>
        <h5>Our partners are always looking for another set of hands.</h5>
        <a data-toggle="modal" data-target="#volunteer-cc-modal" href data-original-title title>Volunteer for a Project</a>
      </article>
    </div>
  </section>

  <section id="build-with-us">
    <div id="build-with-us-header">
      <hgroup>
        <h2>Want to build Climate Cents with us?</h2>
        <h5>We're just getting started. Help us build our platform and expand to more cities.</h5>
      </hgroup>
    </div>
    <div id="build-with-us-cta">
    <a data-target="#donate-cc-modal" data-toggle="modal" data-original-title title href>Become a Founding Supporter</a>
    </div>
  </section>

  <section id="keep-in-touch">
    <div id="keep-in-touch-header">
      <hgroup>
        <h2>Let's keep in touch!</h2>
        <h5>Get climate news and learn about new local climate projects.</h5>
      </hgroup>
    </div>
    <div id="keep-in-touch-cta">
      <!-- <form> -->
        <div id="kit-email-div">
          <!-- <input id="kit-email" type="email" placeholder="Enter email address. Always private, secure, and spam-free."> -->
        </div>
        <div id="kit-submit-div">
          <a data-toggle="modal" data-target="#newsletter-signup-modal" data-original-title title id="kit-submit" href>Sign Me Up</a>
        </div>
      <!-- </form> -->
    </div>
  </section>

  <%= render "modal" %>

  <footer>
    <div class="left-column">
      <h4>Contact Us:</h4>
      <address>
        <h5><a href="mailto:hello@climatecents.org?Subject=Website%20Query" target="_top">hello@climatecents.org</a></h5>
        <h5>P.O. Box 25291</h5>
        <h5>Los Angeles, CA 90025</h5>
      </address>
    </div>
    <div class="right-column">
      <h4>Check in on us in these places:</h4>
      <ul>
        <li><a href="https://www.facebook.com/ClimateCents" target="_blank"><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/Facebook+Copy.png" alt="Climate Cents' Facebook"></a></li>
        <li><a href="https://twitter.com/ClimateCents" target="_blank"><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/Instagram+Copy.png" alt="Climate Cents' Instagram"></a></li>
        <li><a href="https://www.instagram.com/ClimateCents" target="_blank"><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/Twitter+Copy.png" alt="Climate Cents' Twitter"></a></li>
      </ul>
      <p>Donations to projects on this website go directly to our partner nonprofits.</p>
      <p>Want to support Climate Cents directly? You can <a data-target="#donate-cc-modal" data-toggle="modal" data-original-title title href>donate here.</a></p>
      <p>Climate Cents is a 501(c)(3) nonprofit. Tax ID 46-1275511.</p>
      <p><%= link_to 'Terms of Service', tos_path %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to 'Privacy Policy', privacy_path %></p>
      <p>&copy;2014-<%= Time.now.to_date.year %> Climate Cents</p>
    </div>
  </footer>
</div>
