<div id="home-body">
  <section id="hero-section">
    <header>
      <nav>
        <ul>
          <li class="nav-top" id="nav-logo"><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/logo_climatecents_med_white.png"
          alt="Climate Cents logo"/></li>
          <li class="nav-top">How It Works</li>
          <li class="nav-top">Browse Projects</li>
          <li class="nav-top">About Us</li>
          <li class="nav-top">Get Involved</li>
        </ul>
      </nav>
      <div id='hero-header'>
        <h1>Everyone Can Make Change.</h1>
        <h2>Fight climate change and see the effects right in your community.</h2>
        <div id='hero-header-btn'>
          <button id="btn-hero-back-a-project"><span id="btn-hero-back-a-project-text">Back a Project</span></button>
        </div>
        <div id="scroll-down-arrow">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/Button_DropDownCarrot_White.png" alt="scroll down arrow carat carrot"/>
        </div>
      </div>

    </header>
  </section>

  <section id="chip-in-section">
    <div id="chip-in-section-header">
      <hgroup>
        <h2>When we all chip in, great things happen.</h2>
        <h3>We're building a community of support around the local projects we believe in.</h3>
        <h3>Here's how:</h3>
      </hgroup>
    </div>
    <div id="chip-in-section-articles">
      <article>
        <div class="chip-in-section-icon">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_01_identify.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h2>We Identify</h2>
        <p>Our team vets and partners with local projects that reduce carbon in the atmosphere while having positive impact in our communities.</p>
      </article>

      <article>
        <div class="chip-in-section-icon">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_02_connect.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h2>We Connect</h2>
        <p>We sign up thousands of people like you to support our vetted initiatves and as a group, help these projects in the fight against climate change.</p>
      </article>

      <article>
        <div class="chip-in-section-icon">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_03_report.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h2>We Report</h2>
        <p>We then measure, track, and report the progress of every project, so you can see the impact of every dollar you donate and follow.</p>
      </article>
    </div>
  </section>

  <section id="home-projects-section">
    <div id="home-projects-section-header">
      <hgroup>
        <h2>Our LA Kick-off Projects</h2>
        <h3>We're getting off the ground right here in Los Angeles with more projects on the way.</h3>
        <h3>Find one that matters to you.</h3>
      </hgroup>
    </div>

    <div id="home-projects-section-articles">
      <% if @locations.present? %>
        <% @locations.each do |location| %>
          <% if get_location_partners(location).present? %>
            <% get_location_partners(location).each do |partner| %>
              <% if get_partner_projects(partner).present? %>
                <% get_partner_projects(partner).each do |project| %>
                  <% if get_project_campaigns(project).present? %>
                    <% get_project_campaigns(project).each do |campaign| %>
      <article>
        <div class="home-projects-section-image">
          <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon_01_identify.png" alt="We identify local projects that help reduce atmospheric CO2 to fight global warming"/>
        </div>
        <h5>Palos Verdes, CA</h5>
        <h3><%= partner.blurb %></h3>
        <h6><%= partner.name %></h6>
        <p><%= project.blurb %></p>

        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percent_funded(campaign)%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1px; width: <%= percent_funded(campaign)%>%;">
          </div>
        </div>
        <div class="progress-label">
          <ul>
            <li class="leftmost"><span class="progress-data-point"><%= percent_funded(campaign) %>%</span></li>
            <li><span class="progress-data-point"><%= number_of_campaign_backers(campaign) %></span></li>
            <li class="rightmost"><span class="progress-data-point"><%= days_remaining(campaign) %> Days</span></li>
          </ul>
          <ul>
            <li class="leftmost">Funded</li>
            <% if number_of_campaign_backers(campaign) == 1 %>
              <li>Backer</li>
            <% else %>
              <li>Backers</li>
            <% end %>
            <li class="rightmost">Remaining</li>
          </ul>
        </div>

      </article>

                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
      <article>
        <h3>Projects coming soon!</h3>
      </article>
      <% end %>
    </div>
  </section>

  </section>

  <div>
    <% if user_signed_in? %>
      <%= link_to current_user.email, edit_user_registration_path, class: "btn btn-link"%>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-link"%>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-link" %>
      <%= link_to 'Sign in', new_user_session_path, class: "btn btn-link" %>
    <% end %>
  </div>

  <h3>Locations</h3>
  <% if @locations.present? %>
    <div class="row">
      <% @locations.each do |location| %>
        <section class="col-sm-6 col-md-4 col-lg-3">
          <h6><%= location.name %></h6>
          <% if get_location_partners(location).present? %>
            <% get_location_partners(location).each do |partner| %>
              <div>
                <p><%= partner.name %></p>
                <p><%= partner.blurb %></p>
                <% if get_partner_projects(partner).present? %>
                  <% get_partner_projects(partner).each do |project| %>
                    <%= link_to project_path(project) do %>
                      <div class="row">
                        <div class="col-xs-12">
                          <p><%= project.name %></p>
                          <p><%= project.blurb %></p>
                          <% if get_project_campaigns(project).present? %>
                            <% get_project_campaigns(project).each do |campaign| %>
                              <div class="row">
                                <div class="col-xs-12">
                                  <p><%= campaign.name %></p>
                                  <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percent_funded(campaign)%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= percent_funded(campaign)%>%; max-width: 100%;">
                                    </div>
                                  </div>
                                  <div class="progress-label">
                                    <%= percent_funded(campaign) %>% funded |
                                    <%= days_remaining(campaign) %> days remaining |
                                    <%= number_of_campaign_backers(campaign) %> backers
                                  </div>
                                </div>
                              </div>
                            <% end %>
                          <% else %>
                            <p>No fundraising campaigns active at this time</p>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% else %>
                  <p>Projects for this partner are coming soon!</p>
                <% end %>
              </div>
            <% end %>
          <% else %>
            <p>Partners for this location are coming soon!</p>
          <% end %>
        </section>
      <% end %>
    </div>
  <% else %>
    <p>No locations entered yet</p>

  <% end %>

  <hr />

  <!-- Your share button code -->
  <div class="fb-share-button"
    data-href="http://www.climatecents.org"
    data-layout="button_count"
    data-size="large">
  </div>
  <hr/>
  <div>
    <a class="twitter-follow-button" href="https://twitter.com/climatecents"
  data-size="large">Follow @ClimateCents</a>
  </div>
</div>
