
<h1>Welcome to climate cents</h1>

<h2>This is climate cents and its amazing</h2>

<nav>
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path, class: "btn btn-link"%>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-link"%>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-link" %>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-link" %>
  <% end %>
</nav>

<h3>Locations</h3>
<% if @locations.present? %>
  <div class="row">
    <% @locations.each do |location| %>
      <section class="col-sm-6 col-md-4 col-lg-3">
        <h6><%= location.name %></h6>
        <% if get_location_partners(location).present? %>
          <% get_location_partners(location).each do |partner| %>
            <div>
              <p><%= partner.name %></p>
              <p><%= partner.blurb %></p>
              <% if get_partner_projects(partner).present? %>
                <% get_partner_projects(partner).each do |project| %>
                  <%= link_to project_path(project) do %>
                    <div class="row">
                      <div class="col-xs-12">
                        <p><%= project.name %></p>
                        <p><%= project.blurb %></p>
                        <% if get_project_campaigns(project).present? %>
                          <% get_project_campaigns(project).each do |campaign| %>
                            <div class="row">
                              <div class="col-xs-12">
                                <p><%= campaign.name %></p>
                                <div class="progress">
                                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percent_funded(campaign)%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= percent_funded(campaign)%>%; max-width: 100%;">
                                    <%= percent_funded(campaign) %>%
                                  </div>
                                </div>
                              </div>
                            </div>
                          <% end %>
                        <% else %>
                          <p>No fundraising campaigns active at this time</p>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% else %>
                <p>Projects for this partner are coming soon!</p>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <p>Partners for this location are coming soon!</p>
        <% end %>
      </section>
    <% end %>
  </div>
<% else %>
  <p>No locations entered yet</p>

<% end %>
