
<!-- Payment 'Backer Flow' Modal -->
<div class="modal fade" id="backer-modal" tabindex="-1" role="dialog" aria-labelledby="backer-modalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-body">
        <div class="header">
          <div class="logo-container">
            <img src="https://s3.amazonaws.com/climatecents3/PartnerLogo/logo_climatecents_med_white.png" alt="Climate Cents logo"/>
            <h5>Back this project:</h5>
            <h2><%= @project.name %></h2>
          </div>
        </div>

        <div class="donation-form">
          <h5>Choose your donation amount:</h5>
          <%= form_tag charges_path, id:"chargeForm" do %>
            <script src="https://checkout.stripe.com/checkout.js"></script>
            <%= hidden_field_tag 'stripeToken' %>
            <%= hidden_field_tag 'stripeEmail' %>
            <%= hidden_field_tag 'donationToCampaign', 2500 %>
            <%= hidden_field_tag 'donationToTip', 375 %>
            <%= hidden_field_tag 'totalDonation', 2875 %>
            <%= hidden_field_tag 'campaign_id', get_project_campaigns(@project).last.id %>
            <div class="row">
              <button type="button" id="donation-5" class="donation-button" value="500">$5</button>
              <button type="button" id="donation-10" class="donation-button" value="1000">$10</button>
              <button type="button" id="donation-25" class="donation-button" value="2500">$25</button>
            </div>
            <div class="row">
              <button type="button" id="donation-50" class="donation-button" value="5000">$50</button>
              <button type="button" id="donation-100" class="donation-button" value="10000">$100</button>
              <div class="donation-button">
                <input type="number" id="customDonationInput"
                    placeholder="Custom" min="0">
              </div>
            </div>
            <div class="tip-section">
              <p>We give 100% of your donation to this project.</p>
              <p>Help us keep the lights on by adding to the Climate Cents tip jar:</p>
              <div class="tip-button">
                <input type="number" id="tip-amount" value="3.75" min="0"/>
              </div>
            </div>
            <button id="btn-buy" type="button">
              Add My Support
            </button>
            <script>
            var handler = StripeCheckout.configure({
              key: '<%= Rails.configuration.stripe[:publishable_key] %>',
              token: function(token, arg) {
                document.getElementById("stripeToken").value = token.id;
                document.getElementById("stripeEmail").value = token.email;
                document.getElementById("chargeForm").submit();
              }
            });
            document.getElementById('btn-buy').addEventListener('click', function(e){
              handler.open({
                name: 'Climate Cents',
                description: 'Donation to <%= get_partner(@project.partner_id).name %>',
                amount: Number(document.getElementById('totalDonation').value)
              });
              e.preventDefault();
            })

            </script>
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- end of the backer flow payment modal -->


