<div class="main project-page">
  <section class="hero-section" style='background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("<%= return_hero_image_url(@project.partner_id) %>") no-repeat center center /cover;'>
    <header>
      <nav>
        <ul>
          <li class="nav-top" id="nav-logo"><%= link_to root_path do %>
            <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/logo_climatecents_med_white.png"
            alt="Climate Cents logo"/><% end %>
          </li>
          <span>
            <li class="nav-top"><%= link_to "How It Works", "/#chip-in-section" %></li>
            <li class="nav-top"><%= link_to "Browse Projects", "/#home-projects-section" %></li>
            <li class="nav-top"><%= link_to "About Us", "/#keep-in-touch" %></li>
            <li class="nav-top"><%= link_to "Get Involved", "/#join-the-fight-cta" %></li>
          </span>
        </ul>
      </nav>

      <div class='project-header'>
        <% if get_project_campaigns(@project).present? %>
          <% get_project_campaigns(@project).each do |campaign| %>
            <h6><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon-white-location-map.png" alt="local climate change map icon"/><%= campaign.city %>, <%= campaign.state %></h6>
          <% end %>
        <% end %>
        <h1><%= @project.name unless @project.nil? %></h1>
        <h2><%= @project.blurb unless @project.nil? %></h2>
        <div class='hero-header-btn'>
          <% if @project.videoUrl.present? %>
            <button data-toggle="modal" data-target="#video-modal">
              <span class="glyphicon glyphicon-play"></span>Watch the story
            </button>
          <% end %>
        </div>
        <div class="hero-partner">
          <h6>PARTNER</h6>
          <p><%= @partner.name %></p>
        </div>
        <div class="partner-logo">
          <img src="<%= return_logo_image_url(@project.partner_id) %>" alt="<%= get_partner(@project.partner_id).name %> logo" />
        </div>
      </div>

    </header>
  </section>


  <div class="project-detail">
    <section>
      <!-- tab headings -->
      <div class="tab">
        <a href="javascript:void(0)" class="tab-links active">Overview</a>
        <a href="javascript:void(0)" class="tab-links" >Science</a>
        <a href="javascript:void(0)" class="tab-links" >Partner</a>
        <a href="javascript:void(0)" class="tab-links" >News</a>
        <a href="javascript:void(0)" class="tab-links" >Volunteer</a>
        <a href="javascript:void(0)" class="tab-links" ><span class="glyphicon glyphicon-share-alt"></span>Share</a>
      </div>

      <!-- content for tabs -->
      <% if @project.present? %>

        <div id="overview" class="tab-content">
          <h4><%= @project.overview_headline %></h4>
          <div><%= @project.description.html_safe %></div>
        </div>

        <div id="science" class="tab-content">
          <h4><%= @project.science_headline %></h4>
          <div><%= @project.science.html_safe %></div>
        </div>

        <div id="partner" class="tab-content">

          <div><%= get_partner(@project.partner_id).description.html_safe %></div>
        </div>

        <div id="news" class="tab-content">
          <h4><%= @project.news_headline %></h4>
          <div><%= get_partner(@project.partner_id).news.html_safe %></div>
        </div>

        <div id="volunteer" class="tab-content">
          <h4><%= @project.volunteer_headline %></h4>
          <div><%= get_partner(@project.partner_id).volunteer.html_safe %></div>
        </div>

        <div id="share" class="tab-content row">
          <h4 class="word-h4">Word of mouth is our best way to build support.</h4>
          <h4>Please share this project with friends:</h4>
          <div class="social-icons">
            <div class="fb-share">
              <button onclick="myFacebookLogin()"><span><img src="https://s3.amazonaws.com/climatecents3/climate-cents-icons/fb-icon-transp.png" alt="share your atmospheric CO2-reducing Climate Cents donation via our platform for crowdfunded/crowdsourced local climate change projects with your friends on Facebook"/></span>Share Project Story</button>
            </div>
            <div class="twitter-share">
              <a href="https://twitter.com/intent/tweet?hashtags=climatecents&amp;original_referer=http%3A%2F%2Flocalhost%3A3000%2Fcharges&amp;ref_src=twsrc%5Etfw&amp;text=Fight%20climate%20change%20by%20donating%20to%20<%= request.original_url %>!&amp;tw_p=tweetbutton&amp;via=climatecents">
                <button><span><img src="https://s3.amazonaws.com/climatecents3/climate-cents-icons/twtr-icon-transp.png" alt="share your atmospheric CO2-reducing Climate Cents donation via our platform for crowdfunded/crowdsourced local climate change projects with your friends on Twitter"/></span>Tweet Project Story</button>
              </a>
            </div>
          </div>
        </div>

      <% end %>
    </section>
  </div>

  <div class="footer-cta">

    <div class="footer-cta-inner">
      <% [get_current_campaign(@project)].each do |campaign| %>
        <!-- Button trigger modal -->
        <div class="left-column">
          <p class="top-p-cta">Est. Carbon Reduction / Yr</p>
          <p class="bottom-p-cta"><%= number_with_delimiter(annualCarbonReduction(campaign), delimiter: ",") %> cu. lbs</p>
        </div>

        <div class="center-column">
          <ul>
            <li><span class="progress-data-point"><%= percent_funded(campaign) %>%</span> funded</li>
            <li>&nbsp;by <span class="progress-data-point"><%= number_of_campaign_backers(campaign) %></span>
              <% if number_of_campaign_backers(campaign) == 1 %>
                Backer
              <% else %>
                Backers
              <% end %>
            </li>
            <li><span><%= days_remaining(campaign) %></span> days left</li>
          </ul>
          <div id="project-progress-bar" class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percent_funded(campaign)%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1px; width: <%= percent_funded(campaign)%>%;">
            </div>
          </div>
        </div>

        <div class="right-column">
          <button type="button" data-toggle="modal" data-target="#backer-modal">
            Back This Project
          </button>
        </div>
      <% end %>
    </div>

  </div>
</div>

<%= render 'modals' %>
<!-- YouTube/Vimeo/video popout -->

  <div class="modal" id="video-modal" tabindex="-1" role="dialog" aria-labelledby="video-modalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4><%= get_partner(@project.partner_id).name %></h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <iframe width="560" height="336" src="<%= @project.videoUrl %>" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- end YouTube/Vimeo/video popout -->
<!-- Facebook magic -->
<script>
// Only works after `FB.init` is called
function myFacebookLogin() {
  FB.login(function(){
    FB.api('/me/feed', 'post', {message: 'Check out this project fighting global warming <%= request.original_url %>'});},
    {scope: 'publish_actions'});
}
</script>
<!-- end facebook magic -->
