<div class="main">
  <section class="hero-section" style='background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("<%= return_hero_image_url(@project.partner_id) %>") no-repeat center center /cover;'>
    <header>
      <nav>
        <ul>
          <li class="nav-top" id="nav-logo"><%= link_to root_path do %>
            <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/logo_climatecents_med_white.png"
            alt="Climate Cents logo"/><% end %></li>
          <li class="nav-top"><%= link_to "How It Works", "/#chip-in-section" %></li>
          <li class="nav-top"><%= link_to "Browse Projects", "/#home-projects-section" %></li>
          <li class="nav-top"><%= link_to "About Us", "/#keep-in-touch" %></li>
          <li class="nav-top"><%= link_to "Get Involved", "/#join-the-fight-cta" %></li>
        </ul>
      </nav>

      <div class='project-header'>
        <% if get_project_campaigns(@project).present? %>
          <% get_project_campaigns(@project).each do |campaign| %>
            <h6><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon-white-location-map.png" alt="local climate change map icon"/><%= campaign.city %>, <%= campaign.state %></h6>
          <% end %>
        <% end %>
        <h1><%= @project.name unless @project.nil? %></h1>
        <h2><%= @project.blurb unless @project.nil? %></h2>
        <div class='hero-header-btn'>
          <%= link_to '/#home-projects-section' do %>
            <button><span class="glyphicon glyphicon-play"></span>Watch the story</button>
          <% end %>
        </div>
        <div class="hero-partner">
          <h6>PARTNER</h6>
          <p><%= @partner.name %></p>
        </div>
        <div class="partner-logo">
          <img src="<%= return_logo_image_url(@project.partner_id) %>" alt="<%= get_partner(@project.partner_id).name %> logo" />
        </div>
      </div>

    </header>
  </section>
</div>

<div class="project-detail">
  <section>
    <!-- tab headings -->
    <div class="tab">
      <a href="javascript:void(0)" class="tab-links" onclick="openProjectTab(event, 'overview')">Overview</a>
      <a href="javascript:void(0)" class="tab-links" onclick="openProjectTab(event, 'science')">Science</a>
      <a href="javascript:void(0)" class="tab-links" onclick="openProjectTab(event, 'partner')">Partner</a>
      <a href="javascript:void(0)" class="tab-links" onclick="openProjectTab(event, 'news')">News</a>
      <a href="javascript:void(0)" class="tab-links" onclick="openProjectTab(event, 'volunteer')">Volunteer</a>
      <a href="javascript:void(0)" class="tab-links" onclick="openProjectTab(event, 'share')"><span class="glyphicon glyphicon-share-alt"></span>Share</a>
    </div>

    <!-- content for tabs -->
    <% if @project.present? %>
      <div id="overview" class="tab-content">
        <p><%= @project.description %></p>
      </div>

      <div id="science" class="tab-content">
        <p><%= @project.science %></p>
      </div>

      <div id="partner" class="tab-content">
        <p><%= get_partner(@project.partner_id).description %></p>
      </div>

      <div id="news" class="tab-content">
      </div>

      <div id="volunteer" class="tab-content">
      </div>

      <div id="share" class="tab-content">
      </div>
    <% end %>
  </section>
</div>


<div>
  <p>Help heal the bay today!</p>

  <div>
    <h4>Active Projects</h4>
    <% if get_project_campaigns(@project).present? %>
      <% get_project_campaigns(@project).each do |campaign| %>
        <p><%= campaign.name %></p>
        <p>Campaign ends: <%= campaign.end_date.to_s(:long) %></p>
      <% end %>
    <% end %>
  </div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
  Donate
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Back this project!</h4>
      </div>

      <div class="modal-body">
        <%= form_tag charges_path, id:"chargeForm" do %>
          <script src="https://checkout.stripe.com/checkout.js"></script>
          <%= hidden_field_tag 'stripeToken' %>
          <%= hidden_field_tag 'stripeEmail' %>
          <%= hidden_field_tag 'donationToCampaign', 2500 %>
          <%= hidden_field_tag 'donationToTip', 250 %>
          <%= hidden_field_tag 'totalDonation', 2750 %>
          <%= hidden_field_tag 'campaign_id', get_project_campaigns(@project).first.id %>
          <section class="row">
            <div class="col-sm-6">
              <div class="radio">
                <label>
                  <input type="radio" name="donationRadio" id="donationRadio1" value="500">
                  $5
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="donationRadio" id="donationRadio2" value="1000">
                  $10
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="donationRadio" id="donationRadio3" value="2500" checked>
                  $25
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="donationRadio" id="donationRadio4" value="5000">
                  $50
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="donationRadio" id="donationRadio5" value="10000">
                  $100
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="donationRadio" id="donationRadio6" value="customRadio">
                    <div class="form-group">
                      <label class="sr-only" for="customDonationRadioInput">Amount (in dollars)</label>
                      <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="number" class="form-control" id="customDonationRadioInput" placeholder="Custom Donation">
                      </div>
                    </div>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                Learn More about Tips
                <label class="sr-only" for="tipAmount">Amount (in dollars)</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" class="form-control" id="tipAmount" value="2.50">
                </div>
              </div>
            </div>
          </section>

          <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block">
            <span class='glyphicon glyphicon-ok'></span>&nbsp;I want to help!
          </button>
          <script>
          var handler = StripeCheckout.configure({
            key: '<%= Rails.configuration.stripe[:publishable_key] %>',
            token: function(token, arg) {
              document.getElementById("stripeToken").value = token.id;
              document.getElementById("stripeEmail").value = token.email;
              document.getElementById("chargeForm").submit();
            }
          });
          document.getElementById('btn-buy').addEventListener('click', function(e){
            handler.open({
              name: 'Climate Cents',
              description: 'Donation to <%= get_project_campaigns(@project).first.name %>',
              amount: Number(document.getElementById('totalDonation').value)
            });
            e.preventDefault();
          })

          </script>
        <% end %>
      </div>

      <div class="modal-footer">
        <div id="modal-message"></div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<hr/>
<div>
  <%= link_to 'Back', :back, class: "btn btn-primary btn-sm" %>
</div>
<hr/>
<!-- Facebook share button code -->
<div class="fb-share-button"
  data-href="<%= request.original_url %>"
  data-layout="button_count"
  data-size="large">
</div>
<hr/>
<!-- end FB share, start twitter share -->
<div>
  <a class="twitter-share-button"
    href="https://twitter.com/share"
    data-size="large"
    data-text="Check out the <%=@project.name%> project from "
    data-via="climatecents"
    data-url="<%= request.original_url %>"
    data-hashtags="climatecents">
  Tweet</a>
</div>
<!-- end social share -->
<hr />
<div>
  <% if user_signed_in? %>
    <%= link_to current_user.email, edit_user_registration_path, class: "btn btn-link"%>
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-link"%>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-link" %>
    <%= link_to 'Sign in', new_user_session_path, class: "btn btn-link" %>
  <% end %>
</div>
<hr />
<!-- Your share button code -->
<div class="fb-share-button"
  data-href="http://www.climatecents.org"
  data-layout="button_count"
  data-size="large">
</div>
<hr/>
<div>
  <a class="twitter-follow-button" href="https://twitter.com/climatecents"
    data-size="large">Follow @ClimateCents</a>
</div>


