<div class="main project-page">
  <section class="hero-section" style='background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("<%= return_hero_image_url(@project.partner_id) %>") no-repeat center center /cover;'>
    <header>
      <nav>
        <ul>
          <li class="nav-top" id="nav-logo"><%= link_to root_path do %>
            <img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170213/logo_climatecents_med_white.png"
            alt="Climate Cents logo"/><% end %></li>
          <li class="nav-top"><%= link_to "How It Works", "/#chip-in-section" %></li>
          <li class="nav-top"><%= link_to "Browse Projects", "/#home-projects-section" %></li>
          <li class="nav-top"><%= link_to "About Us", "/#keep-in-touch" %></li>
          <li class="nav-top"><%= link_to "Get Involved", "/#join-the-fight-cta" %></li>
        </ul>
      </nav>

      <div class='project-header'>
        <% if get_project_campaigns(@project).present? %>
          <% get_project_campaigns(@project).each do |campaign| %>
            <h6><img src="https://s3.amazonaws.com/climatecents3/ClimateCents_2017Site_01_ProductionFile_20170114/icon-white-location-map.png" alt="local climate change map icon"/><%= campaign.city %>, <%= campaign.state %></h6>
          <% end %>
        <% end %>
        <h1><%= @project.name unless @project.nil? %></h1>
        <h2><%= @project.blurb unless @project.nil? %></h2>
        <div class='hero-header-btn'>
          <%= link_to '/#home-projects-section' do %>
            <button><span class="glyphicon glyphicon-play"></span>Watch the story</button>
          <% end %>
        </div>
        <div class="hero-partner">
          <h6>PARTNER</h6>
          <p><%= @partner.name %></p>
        </div>
        <div class="partner-logo">
          <img src="<%= return_logo_image_url(@project.partner_id) %>" alt="<%= get_partner(@project.partner_id).name %> logo" />
        </div>
      </div>

    </header>
  </section>
</div>

<div class="project-detail">
  <section>
    <!-- tab headings -->
    <div class="tab">
      <a href="javascript:void(0)" class="tab-links active">Overview</a>
      <a href="javascript:void(0)" class="tab-links" >Science</a>
      <a href="javascript:void(0)" class="tab-links" >Partner</a>
      <a href="javascript:void(0)" class="tab-links" >News</a>
      <a href="javascript:void(0)" class="tab-links" >Volunteer</a>
      <a href="javascript:void(0)" class="tab-links" ><span class="glyphicon glyphicon-share-alt"></span>Share</a>
    </div>

    <!-- content for tabs -->
    <% if @project.present? %>

      <div id="overview" class="tab-content">
        <h4><%= @project.overview_headline %></h4>
        <p><%= @project.description.html_safe %></p>
      </div>

      <div id="science" class="tab-content">
        <h4><%= @project.science_headline %></h4>
        <p><%= @project.science.html_safe %></p>
      </div>

      <div id="partner" class="tab-content">

        <p><%= get_partner(@project.partner_id).description.html_safe %></p>
      </div>

      <div id="news" class="tab-content">
        <h4><%= @project.news_headline %></h4>
        <p>Coming soon</p>
      </div>

      <div id="volunteer" class="tab-content">
        <h4><%= @project.volunteer_headline %></h4>
        <p>Coming soon</p>
      </div>

      <div id="share" class="tab-content row">
        <!-- Facebook share button code -->
        <div class="fb-share-button col-xs-3 col-xs-offset-3 center"
          data-href="<%= request.original_url %>"
          data-layout="button_count"
          data-size="large">
        </div>
        <div class="col-xs-3 center">
          <a class="twitter-share-button"
            href="https://twitter.com/share"
            data-size="large"
            data-text="Check out the <%=@project.name%> project from "
            data-via="climatecents"
            data-url="<%= request.original_url %>"
            data-hashtags="climatecents">
          Tweet</a>
        </div>
        <div class="fb-share-button"
          data-href="http://www.climatecents.org"
          data-layout="button_count"
          data-size="large">
        </div>
        <hr/>
        <div>
          <a class="twitter-follow-button" href="https://twitter.com/climatecents"
            data-size="large">Follow @ClimateCents</a>
        </div>
      </div>

    <% end %>
  </section>
</div>

<div class="footer-cta">

  <div class="footer-cta-inner">
    <% [get_current_campaign(@project)].each do |campaign| %>
      <!-- Button trigger modal -->
      <div>
        <p class="top-p-cta">Est. Carbon Reduction / Yr</p>
        <p class="bottom-p-cta"><%= number_with_delimiter(annualCarbonReduction(campaign), delimiter: ",") %> cu. lbs</p>
      </div>

      <div>
        <ul>
          <li><span class="progress-data-point"><%= percent_funded(campaign) %>%</span> funded</li>
          <li>&nbsp;by <span class="progress-data-point"><%= number_of_campaign_backers(campaign) %></span>
            <% if number_of_campaign_backers(campaign) == 1 %>
              Backer
            <% else %>
              Backers
            <% end %>
          </li>
          <li><span><%= days_remaining(campaign) %></span> days left</li>
        </ul>
        <div id="project-progress-bar" class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= percent_funded(campaign)%>" aria-valuemin="0" aria-valuemax="100" style="min-width: 1px; width: <%= percent_funded(campaign)%>%;">
          </div>
        </div>
      </div>

      <div>
        <button type="button" data-toggle="modal" data-target="#myModal">
          Back This Project
        </button>
      </div>
    <% end %>
  </div>

</div>

<%= render 'modals' %>
