<h1><%= @project.name %></h1>
<h2><%= @partner.name %></h2>

<div>
  <p>Help heal the bay today!</p>

  <div>
    <h4>Active Projects</h4>
    <% if get_project_campaigns(@project).present? %>
      <% get_project_campaigns(@project).each do |campaign| %>
        <p><%= campaign.name %></p>
        <p>Campaign ends: <%= campaign.end_date.to_s(:long) %></p>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_tag charges_path, id:"chargeForm" do %>
      <script src="https://checkout.stripe.com/checkout.js"></script>
      <%= hidden_field_tag 'stripeToken' %>
      <%= hidden_field_tag 'stripeEmail' %>
      <%= hidden_field_tag 'amount', 499 %>
      <button id="btn-buy" type="button" class="btn btn-success btn-lg btn-block">
        <span class='glyphicon glyphicon-ok'></span>&nbsp;I want to help!
      </button>
      <script>
      var handler = StripeCheckout.configure({
        key: '<%= Rails.configuration.stripe[:publishable_key] %>',
        token: function(token, arg) {
          document.getElementById("stripeToken").value = token.id;
          document.getElementById("stripeEmail").value = token.email;
          document.getElementById("chargeForm").submit();
        }
      });
      document.getElementById('btn-buy').addEventListener('click', function(e){
        handler.open({
          name: 'Climate Cents',
          description: 'Donation to <%= @partner.name %> ',
          amount: 499
        });
        e.preventDefault();
      })
      </script>

    <% end %>

  </div>
</div>

<hr/>
<%= link_to 'Back', :back, class: "btn btn-primary btn-sm" %>
