<%= form_for(campaign) do |f| %>
  <div class="form-group">
    <label for="camp-name">Name</label>
    <%= f.text_field :name, class: "form-control", id: "camp-name", placeholder: "Campaign Name" %>
  </div>

  <div class="form-group">
    <label for="camp-project">Project for Campaign</label>
    <%= f.select( :project_id, Project.all.order('name asc').collect {|project| [project.name, project.slug] }, class: "form-control", id: "camp-project", selected: params[:project_param]) %>
  </div>

  <div class="form-group">
    <label for="camp-city">Campaign City for marketing copy</label>
    <%= f.text_field :city, class: "form-control", id: "camp-city", placeholder: "Rancho Cucamonga" %>
  </div>

  <div class="form-group">
    <label for="camp-state">State (2 letter Abbrev.) for marketing copy</label>
    <%= f.text_field :state, class: "form-control", id: "camp-state", placeholder: "CA", maxlength: "2" %>
  </div>

  <div class="form-group">
    <label for="camp-desc">Campaign description</label>
    <p>Short plaintext campaign description that appears on the charge receipt.</p>
    <%= f.text_field :description, class: "form-control", id: "camp-desc", placeholder: "2017 GRID Alternatives solar for Safe Place for Youth campaign" %>
  </div>

  <div class="form-group">
    <label for="camp-dollar-goal">Campaign dollar goal in cents</label>
    <p>Dollar goal in cents (so dollar goal * 100, no decimals</p>
    <%= f.number_field :dollar_goal_in_cents, class: "form-control", id: "camp-dollar-goal", placeholder: "100000", min: "100"  %>
  </div>

  <div class="form-group">
    <label for="camp-co2">CO2 Per Dollar</label>
    <p>Pounds of CO2 offset by a $1.00 Donation</p>
    <%= f.number_field :co2_per_dollar, class: "form-control", id: "camp-co2", placeholder: "10", min: "0"  %>
  </div>

  <div class="form-group">
    <label for="camp-start">Start Time</label>
    <p>Date / Time / AM/PM</p>
    <%= f.datetime_field :start_date, class: "form-control", id: "camp-start" %>
  </div>

  <div class="form-group">
    <label for="camp-end">End Time</label>
    <p>Date / Time / AM/PM</p>
    <%= f.datetime_field :end_date, class: "form-control", id: "camp-end" %>
  </div>

  <div class="form-group">
    <label for="camp-active">Is Campaign Active?</label>
    <%= f.check_box :active, class: "form-control", id: "camp-active", value: "1" %><span>Check for yes, uncheck for no</span>
  </div>


  <div class="row form-group">
    <%= f.submit "Save", class:"btn btn-default" %>
    <%= link_to "Back", campaigns_path, class:"btn btn-danger" %>
  </div>

<% end %>
