<div class="row">
  <div class="col-xs-12">
    <h1>All Campaigns</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <%= link_to 'Create New Campaign', new_campaign_path, class: "btn btn-default" %>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-xs-2">
    <h5>Campaign</h5>
  </div>

  <div class="col-xs-2">
    <h5>Partner</h5>
  </div>

  <div class="col-xs-2">
    <h5>Project</h5>
  </div>

  <div class="col-xs-2">
    <h5>Time Remaining</h5>
  </div>

  <div class="col-xs-2">
    <h5>% to Goal</h5>
  </div>

  <div class="col-xs-1">
  </div>

  <div class="col-xs-1">
  </div>
</div>

<% @campaigns.each do |campaign| %>

  <div class="row">
    <div class="col-xs-2">
      <%= link_to campaign.name, campaign_path(campaign) %>
    </div>

    <div class="col-xs-2">
      <%= link_to get_partner_from_project_id(get_project(campaign.project_id)).name,
              partner_path(get_partner_from_project_id(get_project(campaign.project_id))) %>
    </div>

    <div class="col-xs-2">
      <%= link_to get_project(campaign.project_id).name, project_path(get_project(campaign.project_id)) %>
    </div>

    <div class="col-xs-2">
      <p><%= campaign_active_inactive(campaign) %></p>
    </div>

    <div class="col-xs-2">
      <p><%= campaign_percent_to_goal(campaign) %></p>
    </div>

    <div class="col-xs-1">
      <%= link_to 'Edit', edit_campaign_path(campaign, project_param: Project.friendly.find(campaign.project_id)),
          class: 'btn btn-default btn-sm ' %>
    </div>

    <div class="col-xs-1">
      <%= link_to 'Delete', [campaign],
              method: :delete,
              data: { confirm: 'Are you sure? Forever is a long time.' },
              class: "btn btn-danger btn-sm" %>
    </div>
  </div>

<% end %>

