<div class="container-fluid charges-create">
  <div class="top-logo">
    <img src="https://s3.amazonaws.com/climatecents3/climate-cents-icons/logo_climatecents_med_white.png" alt="Climate Cents thanks you for your contribution to our crowdfunded climate change project" />
  </div>

  <section>
    <h2>Thank You!</h2>
    <h2>You've just invested <%= number_to_currency((params[:totalDonation].to_f)/100) %> to help <%= get_partner_from_project_id(@campaign.project_id).name %>'s <%= @campaign.name %>.</h2>
    <h4 class="contrib-h4">Your contribution will remove <%= pluralize(@co2.to_i, 'pound', 'pounds') %> of carbon dioxide from the atmosphere.</h4>
    <h2 class="spread-h2">Spread the word.</h2>
    <div class="partner-logo">
      <div class="left-column">
        <%= image_tag get_project(@campaign.project_id).logo.url, alt: "Logo for Climate Cents' partner #{get_partner_from_project_id(@campaign.project_id).name} for #{@campaign.name} supporting the #{get_project(@campaign.project_id).name}" %>
      </div>
      <div class="right-column">
        <p><%= get_project(@campaign.project_id).name %></p>
      </div>
    </div>
    <h4 class="word-h4">Word of mouth is our best way to build support.</h4>
    <h4>Please share this project with friends:</h4>
    <div class="social-icons">
      <div class="fb-share">
        <button id="fb-share-btn"><span><img src="https://s3.amazonaws.com/climatecents3/climate-cents-icons/fb-icon-transp.png" alt="share your atmospheric CO2-reducing Climate Cents donation via our platform for crowdfunded/crowdsourced local climate change projects with your friends on Facebook"/></span>Share Project Story</button>
      </div>
      <div class="twitter-share">
        <a href="https://twitter.com/intent/tweet?hashtags=climatecents&amp;original_referer=http%3A%2F%2Flocalhost%3A3000%2Fcharges&amp;ref_src=twsrc%5Etfw&amp;text=I%20helped%20fight%20climate%20change%20by%20donating%20to%20offset%20<%= @co2.to_i %>%20pounds%20of%20CO2!&amp;tw_p=tweetbutton&amp;url=http%3A%2F%2Fclimatecents.org&amp;via=climatecents">
          <button><span><img src="https://s3.amazonaws.com/climatecents3/climate-cents-icons/twtr-icon-transp.png" alt="share your atmospheric CO2-reducing Climate Cents donation via our platform for crowdfunded/crowdsourced local climate change projects with your friends on Twitter"/></span>Tweet Project Story</button>
        </a>
      </div>
    </div>
    <div class="done-button-div">
      <%= link_to 'Done', root_path, class:'done-confirmation-button' %>
    </div>
  </section>
</div>

<script>
document.getElementById('fb-share-btn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: "https://www.climatecents.org/projects/<%= get_project(@campaign.project_id).slug %>",
    quote: 'My donation to Climate Cents removed <%= @co2.to_i %> pounds of CO2 to help fight global warming http://www.climatecents.org',
    hashtag: '#climatecents'
  }, function(response){});
}
</script>
