<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Climate Cents</title>

    <meta name="description" content="Crowfund local projects that fight climate change and make our city a better place with Climate Cents.">
    <meta name="keywords" content="climate cents, climate change, global warming, local project, crowdfund, crowdfunding, charity,
        nonprofit, non-profit, CO2, what is climate change, what causes global warming, is climate change real, is global warming real">
    <meta name="author" content="Climate Cents, a 501c3 organization">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- http://realfavicongenerator.net/ -->
    <%= render 'application/favicon' %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <meta property="fb:app_id" content="1788328454784361">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.climatecents.org">
    <meta property="og:title" content="Fight climate change and help your community">
    <meta property="og:image" content="https://s3.amazonaws.com/climate-cents/facebook_images/everyone-can-make-change.png">
    <meta property="og:image:secure_url" content="https://s3.amazonaws.com/climate-cents/facebook_images/everyone-can-make-change.png">
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
    <meta property="og:description" content="Climate Cents is a platform for crowdfunding local, vetted initiatives that fight climate change and make our city a better place.">
    <meta property="og:site_name" content="Climate Cents">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://www.climatecents.org">
    <meta name="twitter:title" content="Climate Cents">
    <meta name="twitter:description" content="Climate Cents is a platform for crowdfunding local, vetted initiatives that fight climate change and make our city a better place.">
    <meta name="twitter:image" content="https://s3.amazonaws.com/climatecents/SocialShare/climatechangefight.jpg">
    <meta name="twitter:site" content="Climate Cents">

    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>

  <body>
  <!-- facebook SDK -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1788328454784361',
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
  <!-- end facebook sdk -->
  <!-- twitter widgets.js -->
  <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));
  </script>
  <!-- end twitter widgets.js -->

    <div class="container-fluid">
<!--       <% if notice.present? || alert.present? %>
        <section>
          <% if notice.present? %>
            <%= notice %>
          <% elsif alert.present? %>
            <%= alert %>
          <% end %>
        </section>
      <% end %> -->

      <%= yield %>
    </div>

  </body>
</html>
