<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Climate Cents</title>

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

    <meta name="robots" content="index, follow">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- http://realfavicongenerator.net/ -->

    <meta property="fb:page_id" content="">
    <meta property="og:title" content="Support Climate Cents">
    <meta property="og:image:secure_url" content="https://s3.amazonaws.com/climatecents/SocialShare/climatechangefight.jpg">
    <meta property="og:description" content="<%= @meta_description_text %>">
    <meta property="og:url" content="http://www.climatecents.org">
    <meta property="og:site_name" content="Climate Cents">
    <meta property="og:type" content="website">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="https://s3.amazonaws.com/climatecents/SocialShare/climatechangefight.jpg">
    <meta name="twitter:site" content="">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://checkout.stripe.com/checkout.js"></script>
  </head>

  <body>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1788328454784361',
          xfbml      : true,
          version    : 'v2.8'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>


    <div class="container">
      <% if notice.present? || alert.present? %>
        <section>
          <% if notice.present? %>
            <%= notice %>
          <% elsif alert.present? %>
            <%= alert %>
          <% end %>
        </section>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
